.game-details {

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: 3fr 6fr;
            grid-template-areas: 
                'cover info info'
                'description description description'
                'gallery gallery gallery'
                'trailers trailers trailers'
                'more more more'
                'similar similar similar';
        }
    }

    &__cover {
        width: 100%;
        height: auto;
        border-radius: 1.5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        grid-area: cover;
    }

    &__info {
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: var(--font-size-5);
        grid-area: info;
    }

    &__title {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-bold);

        &--center {
            text-align: center;
        }
    }

    &-data {
        margin-bottom: .2rem;

        &__label {
            font-weight: var(--font-weight-bold);
            margin-bottom: .4rem;
        }

        &__items {
            display: flex;
            align-items: center;
            gap: .5rem;
            flex-wrap: wrap;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: .3rem;

            &--mark {
                padding: .2rem .6rem;
                background-color: rgb(246, 44, 132);
                color: var(--text-color-light);
                font-weight: var(--font-weight-medium);
                border-radius: 1rem;
            }
        }
    }

    &-section {
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--description {
            grid-area: description;
        }

        &--gallery {
            grid-area: gallery;
        }

        &--trailers {
            grid-area: trailers;
        }

        &--more {
            grid-area: more;
        }

        &--websites {
            grid-area: websites;
        }

        &__title {
            font-size: var(--font-size-4);
            margin-bottom: .3rem;
            padding-bottom: .4rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }

        &__content {
            font-size: var(--font-size-5);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-height: 100vh;
            overflow-y: auto;

            &--more {
                @media screen and (min-width: 992px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 1rem;
                }
            }
        }

        &__group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__nav {

        &-pills {
            display: flex;
            gap: .5rem;
            flex-wrap: nowrap;
            overflow: scroll;
        }

        &-pill {
            padding: .5rem .8rem;
            background-color: rgb(246, 44, 132);
            color: var(--text-color-light);
            font-size: var(--font-size-5);
            border-radius: 1.5rem;
        }
    }

    &__tab-content {
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
        font-size: var(--font-size-5);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-label {
            font-weight: var(--font-weight-bold);
            margin-right: .5rem;
        }
    }

    &__similar {
        grid-area: similar;
    }
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;

    &-circle {
        width: 5rem;

        &__background {
            fill: none;
            stroke: rgb(233, 233, 233);   
            stroke-width: 3.8;
        }

        &__foreground {
            fill: none;
            stroke-width: 2.1;
            stroke-linecap: round;

            &--primary{
                stroke: rgb(246, 44, 132);
            }

            &--animate {
                animation: circleProgress 2s ease-out forwards;
            }
        }

        &__title {
            fill: rgb(135, 135, 135);
            font-size: .7rem;
            text-anchor: middle;

            // &-top, &-bottom {
            //     fill: rgb(135, 135, 135);
            //     text-anchor: middle;
            // }

            // &-top {
            //     font-size: .7rem;
            // }

            // &-bottom {
            //     font-size: .5rem;
            // }
        }
    }

    &__description {
        font-size: var(--font-size-5);
        font-weight: var(--font-weight-medium);
    }
}

// ANIMATIONS
@keyframes circleProgress {
    0% {
        stroke-dasharray: 0 100;
    }
}