.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-self: center;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.784);
    transition: .3s ease-out;

    &--active {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        position: relative;
        padding: 3rem 4rem;
        display: flex;
        align-items: center;
    }

    &-close {
        position: fixed;
        top: 1rem;
        right: 1rem;
        font-size: var(--font-size-1);
        color: var(--text-color-light);
        cursor: pointer;

        &__icon {
            transition: .3s;

            &:hover {
                transform: rotate(180deg) scale(1.1);
            }
        }
    }
}