.header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var(--background-secondary-color);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255, 255, 255), rgb(211, 211, 211), rgba(255, 255, 255, 0));
    border-image-slice: 1;

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-5);

    &__buttons {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__menu {
        
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 1rem;

        &__item {
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        gap: .2rem;
        
        &__icon {
            font-weight: var(--font-weight-bold);
            color: var(--primary-color);
        }

        &__text {
            display: none;

            @media screen and (min-width: 468px) {
                display: inline;
            }
        }
    }

    &-search {
        width: 2.3rem;
        height: 2.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color: var(--text-color-light);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            box-shadow: 0 .025rem .5rem rgb(211, 211, 211);
        }
    }
}