.hero-slide {
    position: relative;
    height: 85vh;

    &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.364);
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 2rem 3rem;

        @media screen and (min-width: 876px) {
            grid-template-columns: 3fr 7fr;
        }
    }

    &__poster {
        display: none;

        @media screen and (min-width: 876px) {
            display: block;
            width: 100%;
            height: auto;
        }

        &-img {
            border-radius: 2rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: var(--font-size-1);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.947);
        color: var(--text-color-light);
        margin-bottom: 1.5rem;
    }

    &__genres {
        margin-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        font-size: var(--font-size-5);

        &-item {

            &--mark {
                padding: .3rem .6rem;
                background-color: rgb(246, 44, 132);
                color: var(--text-color-light);
                font-weight: var(--font-weight-medium);
                border-radius: 1rem;
            }
        }
    }

    &__rating {
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        color: var(--text-color-light);
    }
}

.hero-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    @media screen and (min-width: 876px) {
        flex-direction: row;
    }

    &-circle {
        width: 5rem;

        &--small {
            width: 4rem;
        }

        &__background {
            fill: none;
            stroke: rgba(233, 233, 233, 0.377);   
            stroke-width: 3.8;
        }

        &__foreground {
            fill: none;
            stroke-width: 2.4;
            stroke-linecap: round;

            &--primary {
                stroke: rgb(246, 44, 132);
            }

            &--animate {
                animation: circleProgress 2s ease-out forwards;
            }
        }

        &__title {
            fill: var(--text-color-light);
            font-size: .8rem;
            text-anchor: middle;
            font-weight: var(--font-weight-bold);
        }
    }

    &__description {
        font-size: var(--font-size-5);
        font-weight: var(--font-weight-bold);
    }
}